/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
/*'to enter import font, "sans-serif"- if open sans didnt work'*/
body {
	font-family: 'Open Sans',sans-serif;
}

/*Nav Bar@@@@@@@@@@@*/
nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*descendant selector under nav (UL AND LI)*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
/*nav bar end@@@@@@@@@@*/

/*Intro Section@@@@@@@@@@@*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;


}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {

	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Intro Section End@@@@@@@@@@@*/

/*Succeed Info Section, clockwise order if padding 1 line*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
/*%-rem-vw - most common value*/
/*Succeed Info Section End*/


/*footer*/

footer	{
	text-align: left;
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer end*/

/*pre footer*/

#pre-footer {
	background-color: #002540;
	color: white;
	

}

#pre-footer div {
	display: inline-block;
	text-align: left;
	padding: 0.5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	
	
}

.contact {
	vertical-align: top;
}

/*pre footer*/